
body{
    margin: 0;
    padding: 0;
    background-color: cornsilk;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

img{
    width: 170px;
    position: absolute;
    left: 50%;
    transform: translate(-83px,-380px);
}
.word {
    position:absolute;
    width: 130px;
    transform: translate(-63px,-245px);
} 

.Clock {
    position: relative;
    background-color: rgba(154,238,245,.7);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 11px solid silver;
    
    box-shadow: 2px 1px 4px rgba(0,0,0,.7);
    background-image: url(/First/Clock/always-grey.png);

} 

.numbers div{
    position: absolute;
    font-size: 40px; 
    font-weight: bold;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.three {
    top: 50%;
    right: 6px;
    transform: translate(0px,-25px);
}
.six {
    bottom: 6px;
    top: 50%;
    transform: translate(152px, 120px);
}

.nine {
    bottom: 6px;
    top: 50%;
    transform: translate(10px, -25px);
}

.arrows{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.arrows::before{
    content: "";
    width: 25px;
    height: 25px;
    background-color: silver;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    z-index: 4;
}

.arrows div {
    background-color: whitesmoke;
    width: 7px; 
    position: absolute;
    height: 120px;
    transform-origin: bottom center;
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0 ;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.arrows .hour{
    height: 80px;
    width: 6px;
    transform: rotate(30deg);
    
}

.arrows .second{
    height: 110px;
    width: 5px;
    transform: rotate(250deg);
    
}

.arrows .minute {
    height: 150px;
    background-color: red;
    width: 3px;
}

